.services {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 0rem;
    line-height: 1.5;
}
.services_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* position: relative; */

    width: 90vw;
    max-width: 1080px;
}
@media screen and (max-width: 900px) {
    .services_container {
        flex-direction: column;
        align-items: center;
        width: 70vw;
        gap: 1rem;
    }
}
@media screen and (max-width: 550px) {
    .services_container {
        width: 90vw;
    }
}
.service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.service_logo {
    font-size: 10rem;
    line-height: 1;
    color: #068AC2;

    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 900px) {
    .service_logo{
        transition-delay: 0s !important;
    }
}
.service_logo-hide {
    opacity: 0;
    transform: translateY(-20%);
}
.service_logo-show {
    opacity: 1;
    transform: translateY(0);
}

.service_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0rem 2rem;
}
.service_info > * {
    text-align: center;
}
.service_info-title {
    text-transform: capitalize;
    font-size: larger;
}
.service_info-subtitle {
    color: var(--color-text);
    
}
.service_info-show {
    cursor: pointer;
    align-self: flex-end;

    padding: 0rem 1rem;
    transition: all 0.5s ease-in-out;
}
.service_info-hidden {
    overflow: hidden;
    text-align: justify;
}
.service_info-hidden-anim-enter {
    max-height: 0;
}
.service_info-hidden-anim-enter-active {
    max-height: 500px;
    transition: all 500ms linear;
}
.service_info-hidden-anim-exit {
    max-height: 500px;
}
.service_info-hidden-anim-exit-active {
    max-height: 0;
    transition: all 500ms linear;
}