.news {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;

    width: 90vw;
    max-width: 1080px;
    margin: 0 auto;
}

.news_certification { 
    grid-column: 1 / 2;
}
.news_recent {
    grid-column: 2 / -1;
}
.news_press {
    grid-column: 1 / -1;
}