.news {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-content: center;
	place-items: center;
	align-items: flex-start;
	gap: 2rem;

	width: 90vw;
	max-width: 1080px;
	margin: 2rem auto;
	@media screen and (max-width: 900px) {
		grid-template-columns: 1fr;
	}
}

.news_certification { 
	grid-column: 1 / 2;
	width: 100%;
	@media screen and (max-width: 900px) {
		grid-column: 1 / -1;
	}
}
.news_recent {
	grid-column: 2 / -1;
	@media screen and (max-width: 900px) {
		grid-column: 1 / -1;
	}
}
.news_press {
	grid-column: 1 / -1;
}