.slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
    place-items: center;

    width: 100%;
    height: 70vh;

    background-color: black;
}
.slider:hover .slide-img {
    filter: opacity(0.9);
}
.slider:hover .slide_left-container{
    transition-delay: 0ms;
    transform: translateX(0%);
}
.slider:hover .slide_right-container {
    transition-delay: 0s;
    transform: translateX(0%);
}
.slide, .slide-img {
    grid-row: 1 / -1;
}
.slide-img {
    grid-column: 1 / -1;

    background-size: cover;
    background-position: center;
    transition: all 200ms ease-in-out;

    width: 100%;
    height: 100%;
    
}
.slide {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: relative;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;
    transition: all 500ms ease-in-out;
}


.slide_caption-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    /* height: 10rem; */
    width: 60rem;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    padding: 2rem;
}
.slide_caption-title {
    font-size: 4rem;
    text-transform: capitalize;
    background: linear-gradient(#ddd,rgb(27,183,217), #ddd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.slide_caption-subtitle {
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
    text-transform: capitalize;
}

.slide_left-container, .slide_right-container {
    font-size: xx-large;
    cursor: pointer;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
    transition-delay: 3s;
}
.slide_left-container {
    transform: translateX(-110%);
}
.slide_right-container {
    transform: translateX(+110%);
}
