.motto-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;

  text-align: center;
  height: auto;
  padding: 2rem 0rem;
  line-height: 1.5;
}

.motto-container_welcome {
  color: var(--color-700);
  font-size: 4rem;
  font-family: "Giveny";
}

.motto-container_motto-text {
  font-family: "Giveny";
  font-size: 1.5rem;
  line-height: 1;
  .motto-text_itest {
    font-style: italic;
    font-family: "Giveny";
    color: var(--color-800);
    font-size: 1.55rem;
  }
}
