.press-releases-page {
  .press-releases-page_info-details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .press-releases-page_info-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .press-releases-page_info-card-links {
      grid-column: 1 / 3;
      a {
        //font-size: smaller;
        color: var(--color-500);
        transition: all 0.5s ease-in-out;
        &:hover {
          text-decoration: underline;
          color: var(--color-900);
        }
      }
    }
    .press-releases-page_info-card-text {
      grid-column: 3 / -1;
    }
  }
}
