@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: Bangla992, "Open Sans", Arial, sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-text-hover:  linear-gradient(0deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #fff;
  --color-header: #222;
  --color-header-text: #fff;
  --color-primary: #1BB7D9;
  --color-secondary: #4C4C4C;
  --color-text: #666;
  --color-subtext: #FF8A71;
  --color-border: #2ea3f2;
  --color-sub-border: rgba(0, 0, 0, 0.03)
}