.header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    color: #fff;
    background-color: #000;
    height: 20px;

    font-size: smaller;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80vw;
    max-width: 1080px;
}
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.contacts > * {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.contacts-link {
    display: flex;
    align-items: center;
}
.contacts-link > * {
    display: flex;
    align-items: center;
}