.header {
	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 100%;
	color: var(--color-header-text);
	background-color: var(--color-header);
	height: 20px;

	font-size: smaller;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 90vw;
	max-width: 1400px;
}

.contacts {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.contacts>* {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.contacts-link {
	display: flex;
	align-items: center;
}

.contacts-link>* {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 550px) {
	.contacts-link {
		display: none;
	}

	.contacts {
		width: 100%;
	}
}